@use "base" as *;

.about-head {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem 2rem 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  @include mediaquery(tablet) {
    padding: .5rem 1rem 1rem 1rem;
  }
  .about-bar-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .about-title {
      max-width: 67%;
      @include mediaquery(tablet) {
        max-width: 100%;
      }
    }
  }
  .about-bar-bottom{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 32px;
    .about-filter-list {
      list-style: none;
      display: flex;
      flex: 3;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      .filter-link {
        text-decoration: none;
        color: $color-neutral--100;
        margin-right: 16px;
        font-size: 1.414rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 1.83819rem */
        letter-spacing: 0.01413rem;
        text-transform: uppercase;
        @include mediaquery(tablet) {
          text-decoration: none;
          color: $color-neutral--60;
          margin-right: 12px;
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 400;
          line-height: 130%; /* 1.83819rem */
          letter-spacing: 0.01413rem;
          text-transform: uppercase;
        }
        &:hover {
          color: $color-purple--80;
        }
      }
    }
    .view-button-box {
      display: flex;
      flex: 1;
      height: 32px;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      border: none;
      background-color: transparent;
      text-decoration: none;
      &:hover .link-arrow {
        margin-right: 4px;
      }
      .link-arrow{
        height: 16px;
        width: auto;
        margin-right: 8px;
        margin-top: 4px;
        box-sizing: border-box;
        transition-property: margin-right;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.56,0.25,0.33,0.75);
        @include mediaquery(tablet) {
          box-sizing: border-box;
          height: 12px;
          width: auto;
          margin-right: 8px;
          margin-top: 4px;
        }
      }
      .link-text {
        margin: 0;
        padding: 0;
        font-family: $font-display;
        font-size: 1.414rem;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 2.0125rem */
        letter-spacing: 0.0175rem;
        text-decoration: none;
        color: $color-neutral--100;
        @include mediaquery(tablet) {
          font-size: 1.2rem;
        }
      }
    }
  }
}

// ABOUT CONTAINERS -- WITH IMAGES ETC..

.about-container {
  width: 100%;
  padding: $padding-lg 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  @include mediaquery(tablet) {
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
  }
  
  .date-row {
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
    @include mediaquery(tablet) {
      width: 100%;
      text-align: left;
      margin-bottom: 8px;
    }
    .date {
      font-family: $font-display;
      font-size: 4rem;
      color: $color-purple--80;
      @include mediaquery(tablet) {
        font-size: 1.414rem;
    }
  }
}

  /* Two symmetrical blocks (side by side) */
  .double-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 16px; /* Space between the two blocks */
    align-items: flex-start;
    @include mediaquery(tablet) {
      flex-direction: row;
      align-items: flex-end;
    }

    .box-left, .box-right {
      width: 70%;  /* Both blocks take up 48% of the container's width */
    }

    .box-left {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: flex-end;
      flex: 1;
      @include mediaquery(tablet) {
        flex-direction: row;
        align-items: flex-start;
      }
      &.align-end {
        align-items: flex-end;
      }
      &.align-start {
        align-items: flex-start;
      }
      .text-lg {
        font-size: 1.75rem;
        font-weight: bold;
        color: #212323;
      }
    }
    .box-right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include mediaquery(tablet) {
        align-items: flex-start;
      }
      &.align-end {
        align-items: flex-end;
      }
      &.justify-end {
        align-items: flex-end;
      }
      &.align-start {
        align-items: flex-start;
      }
      &.justify-start {
        justify-items: flex-start;
      }
      &.wider {
        flex:2;
      }

      .image {
        min-width: 100%;
        max-width: 320px;
        
        height: auto;
        max-height: 400px;
        border-radius: 1px;
        align-self: flex-end;
        object-fit: cover;
        @include mediaquery(tablet) {
          max-width: 100%;
        } 
        &.height-full {
          height: 100%;
        }
        &.height-third {
          height: 66%;
        }
        &.height-half {
          height: 50%;
        }
        &.square-gif {
          height: 244px;
        }
      }
      .subtext {
        margin-top: 4px;
        font-size: 0.875rem;
        color: #6e8383;
        @include mediaquery(tablet) {
          font-size: 0.75rem;
        }
      }
    }
  }

  /* Full-width body text */
  .text-row {
    width: 100%;
    margin-top: 0rem;
    @include mediaquery(tablet) {
      width: 100%;
      margin-top: 2rem;
    }
    .frame {
      background: none;
      .full-text {
        display: block;
      }
      .inline-link {
        display: block;
        text-decoration: none;
        border-bottom: 1px solid $color-neutral--60;
        &:hover {
          font-weight: 500;
        }
      }
    }
  }
}

.caption {
  font-family: $font-text;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.005rem;
  margin-top: 4px; 
  max-width: 45ch;       
  @include mediaquery(tablet) {
    font-size: 0.75rem;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .double-box {
    .box-left, .box-right {
      width: 48%;  /* Keep symmetrical blocks on smaller screens */
    }
  }
}

@media (max-width: 480px) {
  .double-box {
    .box-left, .box-right {
      width: 48%;  /* Maintain the 50-50 split even on mobile */
    }
  }
}