@use "base" as *;

// FOOTER

.footer {
    width: 100%;
    margin: 0 auto;
    padding: $padding-md $padding-md $padding-xs $padding-md;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $color-neutral--100;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0;

    @include mediaquery (tablet) {
        padding-top: $padding-sm;
        padding-bottom: $padding-xs;
        padding-left: $padding-sm;
        padding-right: $padding-sm;
        flex-direction: column;
    }

    .footer-row {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        @include mediaquery (tablet) {
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            margin: 0;
        }

        .footer-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 100%;
            width: 75%;
            .location-col {
                margin-right: $margin-xl;
                height: 120px;
                @include mediaquery (tablet) {
                    margin-right: $margin-xs;
                    height: 80px;
                }
                .location-label {
                    color: $color-green--50;
                }

                .location-text {
                    color: $color-neutral--10;
                    margin-top: $margin-xs;
                    @include mediaquery (tablet) {
                        margin-top: 4px;
                    }
                }
            }
            .socials-col {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                margin-right: $margin-xl;
                height: 120px;
                @include mediaquery (tablet) {
                    margin-right: $margin-xs;
                    height: auto;
                    justify-content: flex-start;
                    margin-top: 40px;
                }
                .social-label {
                    @include mediaquery (tablet) {
                        font-size: 1rem;
                    }
                }
            }
        }

        .footer-right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: 100%;
            width: 25%;
            @include mediaquery (tablet) {
                order: 1;
                width: 100%;
                margin-top: 40px;
            }
            
            .footer-links-list {
                padding: 0;
                margin: 0;
                list-style: none;
                .footer-link {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    text-decoration: none;
                    color: $color-neutral--10;
                    font-size: 4rem;
                    font-weight: 700;
                    line-height: 95%;
                    letter-spacing: -0.05656rem;
                    font-feature-settings: 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
                    font-style: normal;
                    @include mediaquery(tablet) {
                        font-size: 2.828rem;
                    }
                    .arrow-box {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 12px;
                        transition: margin-right 0.2s ease-in-out;

                        @include mediaquery(tablet) {
                            margin-right: 8px;
                        }

                        .link-arrow {
                            max-height: 40px;
                            width: auto;
                            transition: margin-right 0.2s ease-in-out;

                            @include mediaquery(tablet) {
                                max-height: 32px;
                                width: auto;
                            }
                        }
                    }

                    &:hover .arrow-box {
                        margin-right: 20px;
                        /* Moves the arrow 8px further away from the text on hover */
                    }
                }
            }
        }


        .footer-contact {
            display: flex;
            flex-direction: column;
            .footer-link {
                color: $color-purple--30;
                text-decoration: none;
                margin-top: 8px;
            }
            .chat-button {
                font-family: $font-display;
                font-size: 1.41375rem;
                font-style: normal;
                font-weight: 500;
                line-height: 115%;
                /* 1.62581rem */
                letter-spacing: 0.01413rem;
                background-color: $color-white;
                color: $color-neutral--100;
                padding: .75rem 1rem;
                margin-right: 0.625rem;
                border: 1.5px solid $color-neutral--100;
                border-radius: 62.4375rem;
                cursor: pointer;
                text-decoration: none;

                @include mediaquery (tablet) {
                    font-size: 1rem;
                    margin-top: $margin-xs;
                    padding: .4rem .6rem;

                }

                &:hover {
                    background-color: $color-neutral--10;

                    .link-arrow {
                        margin-right: .75rem;
                    }
                }
            }

            .made-site-button {
                font-family: $font-display;
                font-size: 1.41375rem;
                font-style: normal;
                font-weight: 500;
                line-height: 115%;
                /* 1.62581rem */
                letter-spacing: 0.01413rem;
                background-color: $color-white;
                color: $color-neutral--100;
                padding: .75rem 1rem;
                margin-right: 0.625rem;
                border: 1.5px solid $color-neutral--100;
                border-radius: 62.4375rem;
                cursor: pointer;

                @include mediaquery (tablet) {
                    margin-top: $margin-xs;
                }

                &:hover {
                    background-color: $color-neutral--10;

                    .link-arrow {
                        margin-right: .75rem;
                    }
                }
            }
        }
    }
}

.footer-row-bottom {
    width: 100%;

    .footer-navlist {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        list-style-type: none;
        color: $color-green--50;
        .footer-navlink {
            font-family: $font-text;
            text-decoration: none;
            text-transform: uppercase;
            color: $color-green--50;
            margin-right: $margin-xs;
            @include mediaquery (tablet) {
                font-size: 12px;
                margin-right: 8px;
            }
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}