@use "base" as *;

/* MEDIA QUARY MIXIN - SET BREAKPOINTS AND LOOP FOR EACH DISPLAY WIDTH VARIABLE */
$bp : (
  mobile : 320px,
  tablet : 768px,
  desktop : 1440px,
);

@mixin mediaquery($display){
    @each $key, $value in $bp { 
        //  als mediaquery = mobile / tablet / desktop -> Geeft MAX waarde terug.
        @if ($display == $key){
            @media (max-width: $value){@content;}
        }
    }
}